USE [SuporteTI]
GO
/****** Objeto:  User [agente_ia]    Data do Script: 08/10/2026 11:47:01 ******/
CREATE USER [agente_ia] FOR LOGIN [agente_ia] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [agente_ia]
GO
/****** Objeto:  Table [dbo].[anexos_chamado]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anexos_chamado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chamado_id] [int] NOT NULL,
	[nome_original] [varchar](255) NOT NULL,
	[nome_arquivo] [varchar](255) NOT NULL,
	[tipo_mime] [varchar](100) NOT NULL,
	[tamanho_bytes] [bigint] NOT NULL,
	[caminho_relativo] [varchar](500) NOT NULL,
	[enviado_por] [int] NOT NULL,
	[ip_origem] [varchar](45) NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[deletado_em] [datetime2](7) NULL,
	[deletado_por] [int] NULL,
	[motivo_delecao] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[categorias]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[chamados]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chamados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](200) NOT NULL,
	[descricao] [varchar](max) NOT NULL,
	[categoria_id] [int] NOT NULL,
	[prioridade] [varchar](20) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[solicitante_id] [int] NOT NULL,
	[responsavel_id] [int] NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[atualizado_em] [datetime2](7) NULL,
	[resolvido_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[historico_chamados]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_chamados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chamado_id] [int] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[acao] [varchar](50) NOT NULL,
	[descricao] [varchar](max) NULL,
	[criado_em] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[laudos_chamado]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laudos_chamado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chamado_id] [int] NOT NULL,
	[nome_arquivo] [varchar](255) NOT NULL,
	[caminho_relativo] [varchar](500) NOT NULL,
	[tamanho_bytes] [bigint] NOT NULL,
	[hash_sha256] [varchar](64) NOT NULL,
	[gerado_por] [int] NOT NULL,
	[ip_origem] [varchar](45) NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[atualizado_em] [datetime2](7) NULL,
	[versao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_laudos_chamado_chamado] UNIQUE NONCLUSTERED 
(
	[chamado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[recuperacao_senha]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recuperacao_senha](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[expira_em] [datetime2](7) NOT NULL,
	[usado] [bit] NOT NULL,
	[criado_em] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[setores]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[usuarios]    Data do Script: 08/10/2026 11:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[login] [varchar](100) NOT NULL,
	[senha_hash] [varchar](255) NOT NULL,
	[setor_id] [int] NOT NULL,
	[perfil] [varchar](30) NOT NULL,
	[ativo] [bit] NOT NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[email] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[anexos_chamado] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[categorias] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[chamados] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[historico_chamados] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[laudos_chamado] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[laudos_chamado] ADD  DEFAULT ((1)) FOR [versao]
GO
ALTER TABLE [dbo].[recuperacao_senha] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [dbo].[recuperacao_senha] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[setores] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[anexos_chamado]  WITH CHECK ADD  CONSTRAINT [FK_anexos_chamado_chamado] FOREIGN KEY([chamado_id])
REFERENCES [dbo].[chamados] ([id])
GO
ALTER TABLE [dbo].[anexos_chamado] CHECK CONSTRAINT [FK_anexos_chamado_chamado]
GO
ALTER TABLE [dbo].[anexos_chamado]  WITH CHECK ADD  CONSTRAINT [FK_anexos_chamado_deletado_por] FOREIGN KEY([deletado_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[anexos_chamado] CHECK CONSTRAINT [FK_anexos_chamado_deletado_por]
GO
ALTER TABLE [dbo].[anexos_chamado]  WITH CHECK ADD  CONSTRAINT [FK_anexos_chamado_usuario] FOREIGN KEY([enviado_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[anexos_chamado] CHECK CONSTRAINT [FK_anexos_chamado_usuario]
GO
ALTER TABLE [dbo].[chamados]  WITH CHECK ADD  CONSTRAINT [FK_chamados_categorias] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categorias] ([id])
GO
ALTER TABLE [dbo].[chamados] CHECK CONSTRAINT [FK_chamados_categorias]
GO
ALTER TABLE [dbo].[chamados]  WITH CHECK ADD  CONSTRAINT [FK_chamados_responsavel] FOREIGN KEY([responsavel_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[chamados] CHECK CONSTRAINT [FK_chamados_responsavel]
GO
ALTER TABLE [dbo].[chamados]  WITH CHECK ADD  CONSTRAINT [FK_chamados_solicitante] FOREIGN KEY([solicitante_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[chamados] CHECK CONSTRAINT [FK_chamados_solicitante]
GO
ALTER TABLE [dbo].[historico_chamados]  WITH CHECK ADD  CONSTRAINT [FK_historico_chamado] FOREIGN KEY([chamado_id])
REFERENCES [dbo].[chamados] ([id])
GO
ALTER TABLE [dbo].[historico_chamados] CHECK CONSTRAINT [FK_historico_chamado]
GO
ALTER TABLE [dbo].[historico_chamados]  WITH CHECK ADD  CONSTRAINT [FK_historico_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[historico_chamados] CHECK CONSTRAINT [FK_historico_usuario]
GO
ALTER TABLE [dbo].[laudos_chamado]  WITH CHECK ADD  CONSTRAINT [FK_laudos_chamado_chamado] FOREIGN KEY([chamado_id])
REFERENCES [dbo].[chamados] ([id])
GO
ALTER TABLE [dbo].[laudos_chamado] CHECK CONSTRAINT [FK_laudos_chamado_chamado]
GO
ALTER TABLE [dbo].[laudos_chamado]  WITH CHECK ADD  CONSTRAINT [FK_laudos_chamado_usuario] FOREIGN KEY([gerado_por])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[laudos_chamado] CHECK CONSTRAINT [FK_laudos_chamado_usuario]
GO
ALTER TABLE [dbo].[recuperacao_senha]  WITH CHECK ADD  CONSTRAINT [FK_recuracao_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[recuperacao_senha] CHECK CONSTRAINT [FK_recuracao_usuario]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_setores] FOREIGN KEY([setor_id])
REFERENCES [dbo].[setores] ([id])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_setores]
GO
